# BUILD Settings:
# ##############################################################################
[build]
  publish = "public"
  functions = "lambda"

[dev]
  publish = "public"
  port = 64946
  autolaunch = true

# HEADERS - BASIC AUTH
# ##############################################################################
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Security-Policy = "form-action https:; frame-src *.stanford.edu *.storyblok.com"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=31536000"
    Permissions-Policy = "vibrate=(), geolocation=(), midi=(), notifications=(), push=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), speaker=()"

# REDIRECTS
# ##############################################################################

[[redirects]]
  from = "/a/*"
  to = "https://a.storyblok.com/:splat"
  status = 200

[[redirects]]
  from = "/a-us/*"
  to = "https://a-us.storyblok.com/:splat"
  status = 200

[[redirects]]
  from = "/i/*"
  to = "https://img2.storyblok.com/:splat"
  status = 200

[[redirects]]
  from = "/p/*"
  to = "https://private-img.storyblok.com/:splat"
  status = 200

## CORS SAFE URLS
# @see: https://www.storyblok.com/docs/concepts/assets.html
# ##############################################################################

[[redirects]]
  from = "/a2/*"
  to = "https://a2.storyblok.com/:splat"
  status = 200
  headers = { "Access-Control-Allow-Origin" = "*","Cache-Control" = "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0","CDN-Cache-Control" = "no-store","Netlify-CDN-Cache-Control" = "no-store","Netlify-Vary" = "query","Surrogate-Control" = "no-store" }

[[redirects]]
  from = "/a2-us/*"
  to = "https://a2-us.storyblok.com/:splat"
  status = 200
  headers = { "Access-Control-Allow-Origin" = "*","Cache-Control" = "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0","CDN-Cache-Control" = "no-store","Netlify-CDN-Cache-Control" = "no-store","Netlify-Vary" = "query","Surrogate-Control" = "no-store" }